.task-card__information {
  display: grid;
  grid-template: auto 70px 40px / 1fr auto;
  grid-template-areas:
  "title-block title-block"
  "description description"
  "lead-time complite-task-block";
}

