@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__login/header__login.css);
.header {
    display: grid;
    flex-shrink: 0;
    grid-template: 1fr auto / auto 1fr;
}
