.tasks__list {
  padding: 0 35px 0 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.tasks__list::-webkit-scrollbar {
  width: 5px;               /* ширина scrollbar */
}
.tasks__list::-webkit-scrollbar-track {

}
.tasks__list::-webkit-scrollbar-thumb {
  background-color: var(--bg-main-color);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  /* border: 3px solid var(--bg-accent-color);  padding вокруг плашки */
}
