@import url(./__list/projects__list.css);
@import url(./__manage/projects__manage.css);
@import url(./manage-button/manage-button.css);
@import url(./manage-button/projects__add-project.css);
@import url(./manage-button/projects__change-project.css);

.projects {
  flex-grow: 1;
  max-height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
