.manage-button {
  color: var(--button-text-color);
  background-color: var(--text-accent-color);
  padding: 8px 5px;
  font-size: 15px;
  border-radius: 5px;
}

.manage-button:hover {
  background-color: rgba(var(--text-accent-color-rgb), 0.85);
}
