.page__content {
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--bg-main-color);
    border: 3px solid var(--border-color);
    font-family: var(--font, sans-serif)
}
