@import url(./__button/header__button.css);
.header__login {
    display: flex;
    justify-content: end;
    align-self: start;
    margin-right: 5px;
}

/* @media (max-width: 500px) {
  .header__login {
    flex-direction: column;
    justify-content: start;
    align-self: end;
  }
} */
