.card__delete-button {
  background: transparent url('../../../image/delete-icon.svg') center no-repeat;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
}
