.popup__submit-button {
  align-self: center;
  border-radius: 5px;
  background-color: var(--popup-button-color);
  color: var(--button-text-color);
  padding: 5px 3px;
  margin-top: 10px;
  min-width: 80px;
}

.popup__submit-button:hover,
.popup__submit-button:focus-visible {
    background-color: rgba(var(--popup-button-color-rgb), 0.6);
}
