.popup__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    width: clamp(300px, 30vw, 350px);
    background-color: var(--popup-bg-color);
    color: var(--popup-main-color);
}
